body{
  position:fixed;
  height:100%;
  width:100%;
  overflow: hidden;
z-index:100;
}
svg{

}
.dropShadow{
  box-shadow: 0 0 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
}
#header{
  position:relative;
  /*background-color: rgb(63,81,181);
  height:64px;*/
  z-index:999;
}
#angleHeader{
  z-index:999;
  width:110%;
}


#underHeader{
  position:relative;
  height:90%;
}


#toastPlacer{
  position: fixed;
  bottom:0;
  z-index: 1000;
}

#logoLoading md-progress-circular {
  margin-left:auto;
  margin-right:auto;
  top:50%;
  margin-top: -25px;
}
#logoLoading{
  height:100vh;
}
#scrollContent{
  margin-top:-50px;
  padding-top:50px;
  position:relative;
  z-index:100;
  overflow-y: auto;
  overflow-x: hidden;
}
#iconHeader{
  position: relative;
    height: +40vh;
    width:auto;
}
#iconHeaderContent{
  position: relative;
  z-index:999;
  background-color: rgb(63,81,181);
  padding-bottom:10px;
}
#logo{
  position: absolute;
  height:100%;
  width:100%;
  /*width:80%;
  left:50%;
  margin-left: -40%;*/
}
#svgLogo{
  position: relative;
  width:80%;
  height: 100%;
  cursor: url(/logotool/images/cursor.png) 16 16, pointer;


}
#zoomButtons{
  color:#fff;
  position: absolute;
  bottom:30px;
  left:30px;
}
.contentCard{
  width:90vw;
  max-width: 450px;
}
@media screen and (max-width: 600px){
  #linkToJoepSchyns{
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  md-card.contentCard{
    max-width: 45vw;
  }
}
@media screen and (min-width:1200px){
  body{
    background-color: #e7e5e5;
  }
  #iconHeaderContent{
    background-color: transparent;
  }
  #svgLogo{
    height: 80%;
  }
  #iconHeader{
      height: 100vh;
  }
  #zoomButtons{
    bottom:60px;
  }
  div #resetButton{
    bottom:60px;
  }
}



.content{

  margin:auto;

}
md-content{
  overflow: hidden;
}

/*#hue-slider .md-thumb:after {
  border-color: rgb(63,81,181);
  background: rgb(63,81,181);
}*/

#hue-slider .md-track {
  background:linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}
#hue-slider .md-track.md-track-fill {
  background:rgba(0, 0, 0, 0.0);
}
#saturation-slider .md-track {
  background: linear-gradient(to right, black,red)
}
#saturation-slider .md-track.md-track-fill {
  background:rgba(0, 0, 0, 0.0);
}
#lightness-slider .md-track {
  background: linear-gradient(to right, #000 0%, transparent 100%)
}
#lightness-slider .md-track.md-track-fill {
  background:rgba(0, 0, 0, 0.0);
}

#alpha-slider .md-track {
  background: linear-gradient(to right, #FFF, #4f4f4f)
}
#alpha-slider .md-track.md-track-fill {
  background:rgba(0, 0, 0, 0.0);
}

#alpha-slider .md-thumb:after {
  border-color: #4f4f4f;
  background-color: #4f4f4f
}

#blue-slider .md-thumb:after {
  border-color: #3F51B5;
  background-color: #3F51B5;
}
#blue-slider .md-track.md-track-fill {
  background-color:#3F51B5;
}

#green-slider .md-thumb:after {
  border-color: #4CAF50;
  background-color: #4CAF50;
}
#green-slider .md-track.md-track-fill {
  background-color: #4CAF50;
}
#red-slider .md-thumb:after {
  border-color: #F44336;
  background-color: #F44336;
}
#red-slider .md-track.md-track-fill {
  background-color: #F44336;
}
.colorText{
  font-size: 13px;
  color: rgba(0, 0, 0, 0.541176);
}
.colorField{
  outline: none;
  border: 0;
  margin-top:10px;
  border-radius:4px;
  border-bottom:solid 1px rgba(0, 0, 0, 0.2);
  margin-bottom:10px;

}
.colorField:hover{
  -moz-box-shadow:    inset 0 0 100px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.05);
  box-shadow:         inset 0 0 100px rgba(0, 0, 0, 0.05);
}
/*	.colorCard.ng-hide-add         { animation:0.5s lightSpeedOut ease; }

when showing the picture */
.colorCard.ng-hide-remove      { animation:0.5s flipInX ease; }

body.dragover #dragOverLay{

  background-color: #00cccc;
  /*		position:fixed;
  width:100%;
  height:100%;
  z-index: 1000px;*/
}
.md-icon-button i{
  font-size: 150%;
  vertical-align: middle;
}
.md-icon-button img{
  vertical-align: middle;
}

.md-button i{
  font-size: 150%;
  vertical-align: middle;
}
.md-button{
  z-index: 999;
}
md-tooltip{
  position: absolute;
  z-index: 999;
}
#dialogPlacer{
  top:0;
  position:fixed;
  width:100%;
  height:100%;
  z-index: 1000;
  z-index: 1000;
}
#resetButton{
  position: absolute;
  bottom:10px;
  right:10px;
}
md-tab-content{
    overflow: hidden;
}
md-tabs{
  height:344px;
}
#svgTempLogo{
  position: absolute;
  height:100%;
  width:100%;
}
